<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="pruebaBinding_IServiceEmployees" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://127.0.0.1:8181/tsi-net-01-service/Employees"
                binding="basicHttpBinding" bindingConfiguration="pruebaBinding_IServiceEmployees"
                contract="ServiceEmployees.IServiceEmployees" name="pruebaBinding_IServiceEmployees" />
        </client>
    </system.serviceModel>
</configuration>