
@section Scripts {
    <script>var tsiApp;</script>
    @Scripts.Render("~/Script/Angular")
    @Styles.Render("~/Content/Angular")
}




<div ng-app="tsi" class="container" ng-controller="employeesCtrl" data-ng-init="init()">
    <h1> Listado de Empleados </h1>
    <div ui-grid="gridOptions" class="gridStyle"></div>


</div>